<div class="container">
    <div class="row mt-5" *ngIf="libro">
        <div class="col-md-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <div class="card-header text-center">
                    <b>Detalle</b>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{libro.id}}</li>
                    <li class="list-group-item"><b>Nombre: </b>{{libro.titulo}}</li>
                    <li class="list-group-item"><b>Autor: </b>{{libro.autor.nombre}}</li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-outline-primary btn-block col-12" (click)="volver()"><i class="fa-solid fa-circle-arrow-left"></i> Volver</button>
                </div>
            </div>
            
        </div>
    </div>
</div>


