<div class="container-mt-3">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <h3>Nuevo Libro:</h3>
                <div class="form-group mt-5">
                    <label for="titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="titulo" required="">

                    <label class="mt-3" for="nombreAutor">Autor</label>
                    <select class="form-control" id="nombreAutor" name="nombreAutor" [(ngModel)]="nombreAutor">
                        <option *ngFor="let autor of autores" [value]="autor.nombre">{{ autor.nombre }}</option>
                    </select>

                    <label class="mt-3" for="nombreEditorial">Editorial</label>
                    <select class="form-control" id="nombreEditorial" name="nombreEditorial" [(ngModel)]="nombreEditorial">
                        <option *ngFor="let editorial of editoriales" [value]="editorial.nombre">{{ editorial.nombre }}</option>
                    </select>

                    <label class="mt-3" for="nombreGenero">Genero</label>
                    <select class="form-control" id="nombreGenero" name="nombreGenero" [(ngModel)]="nombreGenero">
                        <option *ngFor="let genero of generos" [value]="genero.nombre">{{ genero.nombre }}</option>
                    </select>

                    <label class="mt-3" for="ejemplares">Cantidad de ejemplares</label>
                    <input type="text" class="form-control" id="ejemplares" name="ejemplares" [(ngModel)]="ejemplares" required="">
                </div>
                <button class="btn btn-outline-success btn-block mt-3 col-12" [disabled]="!f.valid">Crear</button>
            </form>
        </div>
    </div>
</div>